body {
    background-image: url("images/bg2.jpg");
    background-size: cover;
    font-family:  'Segoe UI', BlinkMacSystemFont, -apple-system, Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 4px black;
    height: 100vh;
}

h1 {
    margin-top: 100px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #40916c;
}

#save-btn {
    background: #1b4332;
}

#hero-sec{
   max-width: 400px;
   margin: auto;
}
